/* .root {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  opacity: 0;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
  max-width: 392px;
}

.heading {
  font: var(--font-title-h5);
  color: var(--color-main-black);
  font-variant-numeric: lining-nums proportional-nums ordinal;
  font-feature-settings: 'case' on, 'liga' off;
}

.supporting-text {
  font: var(--font-text-small);
  color: var(--color-main-dark-gray);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off;
}
 */

 .root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  min-height: 80dvh;

  pointer-events: none;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 18px;

  max-width: 750px;
  margin-left: 6vw;
}

.heading {
  /* font: var(--font-title-h5); */
  font-size: 85px;
  text-align: start;

  /* --font-title-h5: 800 28px/36px var(--font-sans); */
  color: var(--color-main-black);
  font-variant-numeric: lining-nums proportional-nums ordinal;
  font-feature-settings: 'case' on, 'liga' off;

  opacity: 0;
  transform: translate3d(0, 30px, 0);

  transition: .3s;
}

.heading:global(.active) {
  opacity: 1;
  transform: none;

  transition: .3s;
}
.heading:global(.hide) {
  opacity: 0;
  transform: translate3d(0, -30px, 0);

  transition: .3s;
}

.supporting-text {
  /* font: var(--font-text-small); */
  font-size: 20px;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off;

  color: var(--color-main-dark-gray);

  opacity: 0;
  transform: translate3d(0, 30px, 0);

  transition: .3s;
  max-width: 90%;

  margin: 60px 0 0 0;
}

.supporting-text:global(.active) {
  opacity: 1;
  transform: none;

  transition: .3s;
  transition-delay: .15s;
}
.supporting-text:global(.hide) {
  opacity: 0;
  transform: translate3d(0, -30px, 0);

  transition: .3s;
  transition-delay: .15s;
}

