.root {
  background-color: var(--color-main-black);
  padding: 94px 11px 53px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 108px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}

.heading {
  font: var(--font-title-h5);
  color: var(--color-main-white);
  font-variant-numeric: lining-nums proportional-nums ordinal;
  font-feature-settings: 'case' on, 'liga' off;
}

.supporting-text {
  font: var(--font-text-small);
  color: var(--color-main-white);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off;
}

.link {
  color: var(--color-main-yellow1);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details {
  --number-width: 34px;
  --padding-left: 12px;

  display: flex;
  width: 100%;
  border-bottom: 1px solid #32566B;
  padding: 24px 0;
}

.details:last-child {
  border-bottom: none;
}

.summary {
  cursor: pointer;
  list-style-type: none;
  color: var(--color-main-white);
  font: var(--font-link-button);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off;
  position: relative;
  display: flex;
  padding-right: 36px;
}

.summary::-webkit-details-marker {
  display: none
}

.summary::marker {
  display: none
}

.summary::-moz-list-bullet {
  list-style-type: none
}

.summary::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("./icon-plus.svg");
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  content: "";
}

.summary:focus {
  outline: 0
}

.number {
  color: #32566B;
  margin-right: var(--padding-left);
}

.details[open] > .summary {
  margin-bottom: 8px;
}

.details[open] > .summary::after {
  background-image: url("./icon-minus.svg");
}

.text {
  color: var(--color-main-white);
  font: var(--font-text-small);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off;
  padding-left: calc(var(--number-width) + var(--padding-left));
  padding-right: 36px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background: linear-gradient(84deg, #F79C9C, #FACB7E);
  padding: 83px 36px 0;
  gap: 24px;
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner-title {
  font: var(--font-title-h5);
  color: var(--color-main-white);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums ordinal;
  font-feature-settings: 'case' on, 'liga' off;
}

.banner-actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.banner-button {
  --button-background: none;
  --button-border-color: var(--color-main-yellow2);

  text-decoration: none;
}

.banner-button:hover {
  --button-border-color: var(--color-main-red1);

  text-decoration: none;
}

.banner-stores {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.banner-background {
  background-image: url('./background.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 332px;
  height: 235px;
}

@media (min-width: 960px) {
  .root {
    background-color: var(--color-main-black);
    padding: 122px 0 129px;
  }

  .wrapper {
    gap: 59px;
  }

  .left {
    text-align: left;
    gap: 29px;
  }

  .heading {
    font: var(--font-title-h4);
  }

  .details {
    --number-width: 30px;
    --padding-left: 65px;
  }

  .banner {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }

  .banner-wrapper {
    padding: 50px 76px 48px 0;
  }

  .banner-title {
    font: var(--font-title-h4);
    text-align: left;
  }

  .banner-actions {
    display: grid;
    width: 400px;
    gap: 12px;
    grid-template-columns: repeat(5, 72px);
    grid-template-rows: repeat(2, 72px);
  }

  .button-search {
    grid-column: 1/4;
  }

  .button-extension {
    grid-column: 1/6;
  }

  .banner-stores {
    grid-column: 4/6;
    grid-row: 1/2;
    gap: 12px;
  }

  .banner-background {
    width: 288px;
    height: 307px;
    align-self: flex-end;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
  }

  .left {
    gap: 47px;
  }

  .heading {
    font: var(--font-title-h3);
  }

  .supporting-text {
    font: var(--font-text-main);
  }

  .banner-wrapper {
    padding: 66px 82px 72px 0;
  }

  .banner-title {
    font: var(--font-title-h3);
  }

  .banner-actions {
    display: flex;
    flex-direction: row;
  }

  .banner-background {
    width: 332px;
    height: 311px;
    align-self: flex-end;
  }
}
