.root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  min-height: 80vh;
  left: 50%;
  transform: translateX(-50%);
  top: 88px;

  pointer-events: none;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;

  max-width: 37.5rem;
  margin-left: 4rem;
  /* margin-top: 100px; */
}

.heading {
  font: var(--font-title-h2);
  font-size: 4.2rem;
  line-height: 4.8rem;

  /* --font-title-h5: 800 1.4rem/1.8rem var(--font-sans); */
  color: var(--color-main-black);
  font-variant-numeric: lining-nums proportional-nums ordinal;
  font-feature-settings:
    "case" on,
    "liga" off;

  opacity: 0;
  transform: translate3d(0, 1.5rem, 0);

  transition: 0.3s;
}

.heading:global(.active) {
  opacity: 1;
  transform: none;

  transition: 0.3s;
}
.heading:global(.hide) {
  opacity: 0;
  transform: translate3d(0, -1.5rem, 0);

  transition: 0.3s;
}

.supporting-text {
  font: var(--font-text-main);
  font-size: 1rem;
  line-height: 1.6rem;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "liga" off;

  color: var(--color-main-dark-gray);

  opacity: 0;
  transform: translate3d(0, 1.5rem, 0);

  transition: 0.3s;
  max-width: 90%;
}

.supporting-text:global(.active) {
  opacity: 1;
  transform: none;

  transition: 0.3s;
  transition-delay: 0.15s;
}
.supporting-text:global(.hide) {
  opacity: 0;
  transform: translate3d(0, -1.5rem, 0);

  transition: 0.3s;
  transition-delay: 0.15s;
}

.upload {
  width: 8rem;
  height: 8rem;

  position: absolute;
  /* top: 20rem; */
  right: 29rem;
  top: 50%;

  opacity: 0;
  transform: translate3d(0, calc(-50% + 1.5rem), 0);

  transition: 0.3s;
  z-index: 100;
}
.upload:global(.active) {
  opacity: 1;
  transform: translate3d(0, -50%, 0);

  transition: 0.3s;
  transition-delay: 0.2s;
}
.upload:global(.hide) {
  opacity: 0;
  transform: translate3d(0, -1.5rem, 0);

  transition: 0.3s;
  transition-delay: 0.2s;
}

@media (max-width: 1440px) {
  .root {
    min-height: 0;
    height: 100%;
    max-height: 600px;
  }

  .heading {
    /* font: var(--font-title-h3); */
  }

  /* .right {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: .8rem;
    top: 0;
    right: 15%;
    position: absolute;
  } */
}

.uploadImage {
  display: none;
}

.uploadImage::before {
  content: "";
  display: block;

  width: 96px;
  height: 96px;

  background-image: url("/logo.png");
  position: absolute;

  background-size: cover;
  right: -45px;
  top: 40px;

  z-index: -100;
}

.uploadImage::after {
  content: "";
  display: block;

  width: 120px;
  height: 120px;

  background-image: url("/upload.png");
  position: absolute;

  background-size: cover;
  left: -50px;
  bottom: 40px;
}

@media (max-width: 1130px) {
  .right {
    right: 4.4rem;
  }
}

@media (max-width: 960px) {
  .root {
    min-height: 80vh;
    max-height: 100vh;
    height: calc(100vh);
    position: sticky;
    gap: 34px;
    justify-content: start;

    max-width: 450px;
    margin: auto;
    transform: none;
    left: initial;

    padding-top: 88px;
  }

  .heading {
    font: var(--font-title-h5);
    opacity: 1;
    text-align: center;
  }

  .left {
    max-width: 100%;
    gap: 2rem;
    position: relative;
    margin: 0;
  }

  .supporting-text {
    font: var(--font-text-small);
    opacity: 1;
    text-align: center;
    max-width: 95%;
  }

  .uploadImage {
    display: block;
    max-height: 45%;
    width: 75%;
    margin: 0 auto 0 auto;
    position: relative;
  }
  .uploadImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
  }
}

@media (max-width: 960px) and (orientation : portrait) {
  .root {
    justify-content: center;
    padding-top: 0;
  }
}