---
import { containerStyles } from "@/shared/ui/container";
import ImageUpload from '@/shared/assets/images/upload.png'

import styles from "./styles.module.css";
---

<section class:list={[containerStyles, styles.root, 'home__upload']}>
  <div class={styles.left}>
    <h2 class={styles.heading}>Upload an image or take photo using the app</h2>
    <p class={styles.supportingText}>
      Discover and compare products instantly across numerous marketplaces with
      just a photo. We are simplifies your shopping experience by bridging the
      gap between you and the perfect find.
    </p>
  </div>

  <img class:list={[styles.image, styles.logo]} src='/logo.png' alt="">
  <img class:list={[styles.image, styles.upload]} src={ImageUpload.src} alt="">

</section>
