.root {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: var(--button-background);
  color: var(--button-color);
  text-align: center;
  font: var(--button-font);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off;
  border-radius: 36px;
}

.root:hover {
  cursor: pointer;
}

.variant-primary {
  --button-background: var(--color-main-yellow1);
  --button-color: var(--color-main-black);
}

.variant-primary:hover {
  --button-background: linear-gradient(90deg, var(--color-main-red1) 0%, var(--color-main-yellow1) 100%);
}

.variant-secondary {
  --button-background: var(--color-main-white);
  --button-color: var(--color-main-black);

  border: 4px solid var(--color-main-lightgray);
}

.variant-secondary:hover {
  border: 4px solid var(--color-main-red1);
}

.variant-black {
  --button-background: var(--color-main-black);
  --button-color: var(--color-main-white);
}

.variant-black:hover {
  background: linear-gradient(90deg, var(--color-main-red1) 0%, var(--color-main-black) 100%);
}

.size-regular {
  --button-font: var(--font-link-button);

  height: 72px;
  padding: 14px 24px 14px 36px;
  gap: 18px;
}

.size-small {
  --button-font: var(--font-link-button-small);

  height: 56px;
  padding: 16px 28px;
  gap: 12px;
}

.size-xsmall {
  --button-font: var(--font-link-button-small);

  height: 48px;
  padding: 16px 24px;
  gap: 12px;
}

.icon-only {
  margin: 0;
  padding: 0;
}

.size-regular.icon-only {
  width: 48px;
  height: 48px;
}

.size-small.icon-only {
  width: 48px;
  height: 48px;
}
