.root {
  display: flex;
  flex-direction: column-reverse;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right {
  display: grid;
}

.heading {
  font: var(--font-title-h3);
  color: var(--color-main-black);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off;
}

.actions {
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.icon-play {
  color: var(--color-main-yellow1);
}

.mobile {
  display: flex;
}

.desktop {
  display: none;
}

@media (min-width: 960px) {
  .heading {
    font: var(--font-title-h2);
  }

  .left {
    max-width: 480px;
    gap: 82px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .heading {
    font: var(--font-title-h1);
  }

  .left {
    max-width: 600px;
  }
}
