.root {
  display: flex;
  align-items: center;

  min-height: 80vh;
  position: relative;

  --card-border-raius: 1.8rem;
}

.wrapper {
  height: calc(100dvh - 88px);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-left: 4rem;
  max-width: 30rem;
  gap: 4.1rem;
  margin-top: 4.5rem;
}
.left:global(.hide) {
  opacity: 0;
  transition: 0.3s;
}

.right {
  height: 100%;
  position: absolute;
  top: -14rem;
  right: -20rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 10rem);
  gap: 2.4rem;
  row-gap: 1.2rem;

  z-index: -1;
}

.cardInner {
  /* transform: rotateY(180deg); */
  transform-style: preserve-3d;
  transition: 0.6s;

  width: 100%;
  height: 100%;
}

.card {
  width: 13.2rem;
  height: 20rem;

  border-radius: var(--card-border-raius);
  transition: 0.3s;

  position: relative;

  transition: 0.4s;
  perspective: 50rem;
}

.card:global(.active) .cardInner {
  transform: rotateY(180deg);
  transition: 0.6s;
}

.card img {
  border-radius: var(--card-border-raius);
}

.cardImage,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: var(--card-border-raius);
}

.cardBack {
  transform: rotateY(180deg);

  padding: 0.2rem;
  position: relative;
}

.cardBack::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: var(--card-border-raius);

  background: linear-gradient(to bottom, #facb7e, #f79c9c);
  z-index: -10;
}

.cardContent {
  width: 100%;
  height: 100%;

  background: white;
  border-radius: calc(var(--card-border-raius) - 0.2rem);
}

.cardBackImage {
  margin: auto;
  object-fit: contain;
}

.cardAmazonImage {
  width: 245px;
  height: 144px;

  transform: translateY(5rem);
}

.cardIcon {
  position: absolute;

  bottom: 2rem;
  left: 50%;

  transform: translateX(-50%);
  object-fit: contain;
}

.iconAmazon {
  width: 80px;
  height: 24px;
}

.cardAlibabaImage {
  width: 173px;
  height: 224px;

  transform: translateY(3rem);
}

.iconAlibaba {
  width: 122px;
  height: 16px;
}

.cardEbayImage {
  width: 249px;
  height: 161px;

  transform: translateY(3.95rem);
}

.iconEbay {
  width: 64px;
  height: 24px;
}

.cardWalmartImage {
  width: 208px;
  height: 240px;

  transform: translateY(1.5rem);
}

.iconWalmart {
  width: 100px;
  height: 24px;
}

.cardAliexpressImage {
  width: 196px;
  height: 220px;

  transform: translateY(2.6rem);
}

.iconAliexpress {
  width: 100px;
  height: 24px;
}

.card:nth-child(4) {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.card:nth-child(4):global(.hide) {
  transform: translate3d(0, -2rem, 0);
  opacity: 0;

  transition: 0.3s;
}

.video video {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.video:global(.hide) {
  transform: translate3d(-7rem, 6rem, 0) scale3d(1.4, 1.4, 1) !important;
  opacity: 0 !important;

  transition: 0.3s !important;
  transition-delay: 0s !important;
}

.card:nth-child(1) {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}
.card:nth-child(1):global(.upload) {
  /* transform: translate3d(-7rem, 8.5rem, 0) scale3d(1.4, 1.4, 1); */
  transform: translate3d(-50%, 50%, 0) scale3d(1.4, 1.4, 1);

  transition: 0.4s ease-in-out;
  transition-delay: 0.4s;
}

.card:nth-child(1)::before {
  content: "";
  display: block;

  width: 5.4rem;
  height: 5.4rem;

  background-image: url("/logo.png");
  position: absolute;

  background-size: cover;
  right: -3.4rem;
  top: 3.5rem;

  animation: rotate 5s linear infinite;
  opacity: 0;
  transform: translateY(1.5rem);

  transition: 0.15s;
}

.card:nth-child(1)::after {
  content: "";
  display: block;

  width: 5.5rem;
  height: 5.5rem;

  background-image: url("/upload.png");
  position: absolute;

  background-size: cover;
  left: -3.4rem;
  bottom: 1.5rem;

  opacity: 0;
  transform: translateY(1.5rem);

  transition: 0.15s;
}

.card:global(.icons)::before {
  opacity: 1;
  top: 2.5rem;

  transition: 0.3s;
  transition-delay: 1.1s;
}

.card:global(.icons)::after {
  opacity: 1;
  bottom: 3rem;

  transition: 0.3s;
  transition-delay: 0.9s;
}


.card:nth-child(5) {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
.card:nth-child(5):global(.hide) {
  transform: translate3d(0, 2rem, 0);
  opacity: 0;

  transition: 0.3s;
}

.card:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}
.card:nth-child(2):global(.hide) {
  transform: translate3d(0, -2rem, 0);
  opacity: 0;

  transition: 0.3s;
}

.card:nth-child(3) {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
.card:nth-child(3):global(.hide) {
  transform: translate3d(0, -2rem, 0);
  opacity: 0;

  transition: 0.3s;
}

.heading {
  /* font: var(--font-title-h1); */
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 6.4rem;

  color: var(--color-main-black);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "liga" off;

  transition: 0.3s;
}

.heading:global(.hide) {
  transform: translate3d(0, -1.5rem, 0);
  opacity: 0;

  transition: 0.3s;
  transition-delay: 0.1s;
}

.actions {
  display: flex;
  gap: 0.6rem;

  transition: 0.3s;
}

.actions:global(.hide) {
  transform: translate3d(0, -1.5rem, 0);
  opacity: 0;

  transition: 0.3s;
  transition-delay: 0.2s;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.icon-play {
  color: var(--color-main-yellow1);
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

.iconPlay {
  width: 30px;
  height: 30px;
}

.iconPlay path {
  fill: var(--color-main-yellow1);
}

img.cardImage {
  display: none;
}

@media (max-width: 1440px) {
  .card:nth-child(1):global(.upload) {
    transform: translate3d(100%, 0, 0) scale3d(1.3, 1.3, 1);
  }

  .root {
    --card-border-raius: 24px;
  }

  .heading {
    font: var(--font-title-h2);
  }

  .left {
    max-width: 480px;
    gap: 82px;

    margin: 0;
    margin-top: 5rem;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .actions {
    align-items: flex-start;
    gap: 12px;
  }

  .card {
    width: 172px;
    height: 260px;
  }

  .right {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
    top: 0;
    right: 88px;
    position: absolute;

    max-height: 820px;
  }

  .card:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    align-self: center;
  }

  .card:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    align-self: center;
  }

  .card:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }

  .card:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  .card:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .cardAmazonImage {
    transform: translateY(45px);
  }

  .cardIcon {
    position: absolute;

    bottom: 40px;
    left: 50%;

    transform: translateX(-50%);
    object-fit: contain;
  }

  .cardAlibabaImage {
    width: calc(173px / 1.2);
    height: calc(224px / 1.2);
    transform: translate(10px, 35px);
  }

  .cardEbayImage {
    transform: translateY(35px) scale(1.2);
  }

  .cardWalmartImage {
    width: 208px;
    height: 240px;

    transform: translateY(0);
  }

  .cardAliexpressImage {
    transform: translate(5px, 7px);
  }

  .cardIcon {
    bottom: 20px;
  }
}

@media (max-width: 960px) {
  .root {
    height: calc(100vh - 88px);
  }

  .heading {
    font: var(--font-title-h3);
  }

  .left {
    max-width: 480px;
    gap: 40px;
    /* margin: 392px 0 0 0; */

    position: absolute;
    top: 40%;
    transform: translateY(-50%);
  }

  img.cardImage {
    display: block;
    backface-visibility: hidden;
  }

  video.cardImage {
    display: none;
  }

  .mobile {
    display: block;
    position: relative;
  }

  .desktop {
    display: none;
  }

  .actions {
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
  }

  .mobile .iconPlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .right {
    top: 50%;
    transform: translateY(-50%);

    position: absolute;
    right: 0;

    grid-template-rows: repeat(4, 264px);
    grid-template-columns: repeat(2, 174px);
  }
}

@media (max-width: 768px) {
  .right {
    right: -60px;
  }
}

@media (max-width: 700px) {
  .right {
    right: -140px;
  }
}

@media (max-width: 620px) {
  .left {
    transform: none;
    position: sticky;
    margin: auto 0 10dvh 0;
  }

  .right {
    right: 0;
    top: -160px;
    transform: none;
  }

  .card:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    align-self: center;
  }

  .card:nth-child(1) {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
    align-self: center;
  }

  .card:nth-child(5) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .card:nth-child(2) {
    display: none;
  }

  .card:nth-child(3) {
    display: none;
  }
}

.logo:global(.active) {
  opacity: 1;
  top: 7.75rem;

  transition: 0.3s;
  transition-delay: 0.15s;
}
.logo:global(.hide) {
  opacity: 0;
  top: 6.25rem;

  transition: 0.3s;
  transition-delay: 0.15s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
