.root {
  padding: var(--spacing-none, 0px) var(--container-padding-mobile, 16px);
  max-width: var(--container-max-width-desktop, 1024px);
  width: 100%;
  margin: 64px auto 96px;
}

@media (min-width: 640px) {
  .root {
    padding: var(--spacing-none, 0px) var(--container-padding-desktop, 32px);
  }
}
