---
import { BaseLayout } from "@/layouts";
import { containerStyles } from "@/shared/ui/container";
import { NavDesktop } from "@/shared/ui/nav";

import { Footer } from "../_ui/footer";

import { ContactForm } from "./_ui/contact-form";
import styles from "./_styles.module.css";
---

<BaseLayout class={styles.root}>
  <header class={containerStyles}>
    <NavDesktop />
  </header>
  <main class={styles.main}>
    <section class:list={[containerStyles, styles.container]}>
      <h1 class={styles.heading}>Contact us</h1>
      <ContactForm />
    </section>
  </main>
  <Footer />
</BaseLayout>
