
:root,
body,
html {
  font-size: calc(6px + (20 - 6) * ((100vw - 600px) / (1920 - 600)));
}

@media only screen and (min-width: 1920px) {
  :root,
  body,
  html {
    font-size: 20px;
  }
}


html {
  overflow-x: hidden;
}

html:global(.enabledScroll) {
  overflow: scroll !important;
}



body {
  height: 100dvh;
  overflow: hidden;
}

body:global(.enabledScroll) {
  overflow: auto !important;
  overflow-x: hidden;
  height: auto !important;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  overflow: hidden;
}


main {
  z-index: -1;
  height: 100vh;
}

.scrollContainer {
  display: block;
  transition: 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.root {
  display: flex;
  flex-direction: column;
  gap: 144px;

  margin: auto;
}

@media (min-width: 1920px) {
  .root {
    gap: 288px;
  }
}


@media (max-width: 960px) {
  html {
    height: 100dvh;
    overflow: hidden;
  }

  .root {
    gap: 0;
  }
}

