---
import { BaseLayout } from "@/layouts";

import { containerStyles } from "@/shared/ui/container";
import { Dialog } from "@/shared/ui/dialog";

import { NavMobile, NavDesktop } from "./_ui/nav";
import { Hero } from "./_ui/hero";
---

<BaseLayout>
  <header class={containerStyles}>
    <NavDesktop />
  </header>
  <main>
    <Hero />
  </main>
  <Dialog name="menu">
    <NavMobile />
  </Dialog>
</BaseLayout>
