---
import { BaseLayout } from "@/layouts";

import { containerStyles } from "@/shared/ui/container";
import { Dialog } from "@/shared/ui/dialog";
import { NavMobile, NavDesktop } from "@/shared/ui/nav";
import { DIALOGS } from "@/shared/config";

import { Hero } from "./_ui/hero";
import { Upload } from "./_ui/upload";
import { Find } from "./_ui/find";
import { Markets } from "./_ui/markets";
import { FAQ } from "./_ui/faq";
import { Footer } from "./_ui/footer";
import { DialogVideo } from "./_ui/dialog-video";

import styles from "./_styles.module.css";
---

<BaseLayout>
  <header class={containerStyles}>
    <NavDesktop />
  </header>
  <main class={styles.root}>
    <div class={styles.scrollContainer}>
      <Hero />
      <Upload />
      <Find />
      <Markets />
    </div>
  </main>
  <FAQ />
  <Footer />
  <Dialog name={DIALOGS.MENU}>
    <NavMobile />
  </Dialog>
  <DialogVideo />
</BaseLayout>

<script src="@/entities/scroll/ui/wc-scroll-to-trigger/index.ts"></script>
<script src="@/entities/scroll/ui/wc-scroll-to-section/index.ts"></script>
<script src="./_script.ts"></script>
