---
import { BaseLayout } from "@/layouts";

import { containerStyles } from "@/shared/ui/container";
import { Dialog } from "@/shared/ui/dialog";
import { NavMobile, NavDesktop } from "@/shared/ui/nav";

import { Hero } from "./_ui/hero";
import { Upload } from "./_ui/upload";
import { Find } from "./_ui/find";
import { Markets } from "./_ui/markets";
import { FAQ } from "./_ui/faq";
import { Footer } from "./_ui/footer";

import styles from "./_styles.module.css";
---

<BaseLayout>
  <header class={containerStyles}>
    <NavDesktop />
  </header>
  <main class={styles.root}>
    <Hero />
    <Upload />
    <Find />
    <Markets />
    <FAQ />
  </main>
  <Footer />
  <Dialog name="menu">
    <NavMobile />
  </Dialog>
</BaseLayout>
