.root {
  background-color: var(--color-main-lightgray);
}

.main {
  padding: 20px 0 56px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 960px) {
  .main {
    padding: 20px 0 88px;
  }
}

@media (min-width: 1440px) {
  .section {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
  }
}
