---
import { BaseLayout } from "@/layouts";
import { containerStyles } from "@/shared/ui/container";
import { NavDesktop } from "@/shared/ui/nav";

import { UploadForm } from "./_ui/upload-form";
import styles from "./_styles.module.css";
---

<BaseLayout>
  <header class={containerStyles}>
    <NavDesktop />
  </header>
  <main class={styles.main}>
    <section class:list={[containerStyles, styles.container]}>
      <h1 class={styles.heading}>Search any products</h1>
      <UploadForm />
    </section>
  </main>
</BaseLayout>
