.root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  min-height: 80dvh;

  pointer-events: none;
}

.heading {
  /* font: var(--font-title-h5); */
  font-size: 85px;
  text-align: start;
  width: 1000px;

  /* --font-title-h5: 800 28px/36px var(--font-sans); */
  color: var(--color-main-black);
  font-variant-numeric: lining-nums proportional-nums ordinal;
  font-feature-settings:
    "case" on,
    "liga" off;

  opacity: 0;
  transform: translate3d(0, 30px, 0);

  transition: 0.3s;
}

.heading:global(.active) {
  opacity: 1;
  transform: none;

  transition: 0.3s;
  transition-delay: 1.8s;
}
.heading:global(.hide) {
  opacity: 0;
  transform: translate3d(0, -30px, 0);

  transition: 0.3s;
}

.top {
}

.bottom {
  margin-top: 450px;
  display: flex;

  align-content: center;
  position: relative;
}

.linkSearch {
  width: 232px;

  opacity: 0;
  transition: 0.3s;

  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(calc(-50% + 30px));
  transition-delay: .15s;
}
.linkSearch:global(.active) {
  opacity: 1;
  transform: translateY(-50%);

  transition: 0.3s;
  transition-delay: 2s;
}

.link-unstyled {
  text-decoration: none;
}

.link-unstyled:hover {
  text-decoration: none;
}

.slider {
  background: #edf1f5;
  position: absolute;

  right: 50px;
  top: 35px;

  width: 0;
  height: 364px;

  opacity: 0;
  border-radius: 36px;

  overflow: hidden;
}

.slider:global(.active) {
  animation: showSlider 1.5s 0.55s forwards;
}

.slider:global(.active) .track {
  transform: translateX(0);

  transition: 2s ease-in-out;
  transition-delay: 1.5s;
}

.track:global(.active) {
  animation: scroll 20s linear infinite;
}


@keyframes showSlider {
  0% {
    opacity: 0;

    width: 368px;
    height: 364px;
  }

  /* 30% {
    opacity: 1;

    width: calc(100vw - 240px);
    height: 364px;
  } */

  70% {
    opacity: 1;

    width: calc(100vw - 240px);
    height: 364px;
  }

  100% {
    opacity: 1;

    width: calc(100vw - 240px);
    height: 424px;
  }
}

.track {
  display: flex;
  gap: 48px;

  width: calc(292px * 10 + 48px * 9);
  transform: translateX(100%);
}

.slide {
  width: 292px;
  height: 360px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  border-radius: 36px;

  flex: 0 0 auto;
}

.slide img {
  width: 245px;
  height: 235px;
}

.trackContainer {
  width: 100%;
  height: 100%;

  overflow: hidden;

  display: flex;
  align-items: center;

  position: relative;
}
.trackContainer::before,
.trackContainer::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.trackContainer::before {
  left: 0;
  background: linear-gradient(90deg, #EDF1F5 0%, rgba(237, 241, 245, 0) 10%);
}

.trackContainer::after {
  right: 0;
  background: linear-gradient(-90deg, #EDF1F5 0%, rgba(237, 241, 245, 0) 10%);
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-292px * 5 + -48px * 5));
  }
}
