---
import { containerStyles } from "@/shared/ui/container";
import { Button } from "@/shared/ui/button";
import { IconSearch } from "@/shared/assets/icons";

import styles from "./styles.module.css";
---

<section class:list={[containerStyles, styles.root]}>
  <div class={styles.left}>
    <h2 class={styles.heading}>Instant search in multiple stores at once</h2>
    <Button>
      Let's search
      <IconSearch />
    </Button>
  </div>
  <div class={styles.right}></div>
</section>
